.trackerContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 400px;
    align-items: center;
}

.trackerWrapper {
    display: flex;
    justify-content: space-between;
    width: 900px;
}